body {
    font-family:Myriad Pro, sans-serif;
	margin: auto;
	background: #FAF8EF;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#text {
    margin-top: 1em;
    text-align: center;
}

h1 {
    font-size: 3em;
}

/*Playing Field*/
.box{
	position: relative;
    width: 600px;
    margin: auto;
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.grid-container{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    
    padding: 2%;
    
	background: #CDC1B4;
    border-radius: 3%;
}

.grid-row {
    height: 46px;
}

.chunk {
    width: 46px;
    height: 46px;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 20%; 
    
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}
.chunk:last-child {
    margin-right: 0;
}

/*Pieces spawn area*/
.pieces-container {
    width: 600px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    background: #CDC1B4;
    border-radius: 20px;
}

.slot {
    width: 30%;
    height: 90%;
    margin-top: 1.75%;
    margin-left: 2.5%;
    float: left;
    
    border-radius: 10%;
    background: rgba(238, 228, 218, 0.35);
}

/*Piece generics*/
.placeholder {
    background: inherit !important;
}

.drag-container {
    height: 100%;
    width: 100%;
}
.piece {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Small Screens*/
@media screen and (max-width: 600px) {
    .box{
        position: relative;
        width: 360px;		/* desired width */
        margin: auto;
    }
    
    .grid-container{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        padding: 2%;

        background: #CDC1B4;
        border-radius: 3%;
    }

    .grid-row {
        height: 27.6px;
    }
    
    .chunk {
        width: 27.6px;
        height: 27.6px;
        background: rgba(238, 228, 218, 0.35);
        border-radius: 20%; 

        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
    }
    
    .pieces-container {
        width: 360px;
        height: 120px;
        margin: auto;
        margin-top: 10px;
        background: #CDC1B4;
        border-radius: 10px;
    }
}