body {
    font-family:Myriad Pro, sans-serif;
	margin: auto;
	overflow:hidden;
	background: #FAF8EF;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#text {
    margin-top: 1em;
    text-align: center;
}

h1 {
    font-size: 3em;
}


/*Playing Field*/
.box{
	position: relative;
	width: 600px;		/* desired width */
    margin: auto;
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.grid-container{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    
    padding: 2%;
    
	background: #CDC1B4;
    border-radius: 3%;
}

.grid-row {
    margin-bottom: 2px;
    height: 46px;
}

/*Pieces spawn area*/
.pieces-container {
    width: 600px;
    height: 200px;
    margin: auto;
    margin-top: 25;
    background: #CDC1B4;
    border-radius: 20px;
}

.slot {
    width: 30%;
    height: 90%;
    margin-top: 1.75%;
    margin-left: 2.5%;
    float: left;
    
    border-radius: 10%;
    background: rgba(238, 228, 218, 0.35);
}

.chunk {
    width: 46px;
    height: 46px;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 20%; 
    
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}
.chunk:last-child {
    margin-right: 0;
}

.placeholder {
    background: inherit !important;
}

.drag-container {
    height: 100%;
    width: 100%;
}
.piece {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Actual Pieces*/
.piece .chunk {
    width: 32.5px;
    height: 32.5px;
}

.sBlock {
    width: 32.5px;
    height: 32.5px;
}
.sBlock .chunk {
    background: #555;
}

.mBlock {
    width: calc(32.5px * 2 + 2px );
    height: calc(32.5px * 2 + 2px );
}
.mBlock .chunk {
    background: #4a6ad4;
}

.lBlock {
    width: calc(32.5px * 3 + 4px );
    height: calc(32.5px * 3 + 4px );
}
.lBlock .chunk {
    background: #0bd022;
}

.ln2 {
    height: 32.5px;
    width: calc(32.5px * 2 + 2px );
}
.ln2 .chunk {
    background: #d959d4;
}

.ln3 {
    height: 32.5px;
    width: calc(32.5px * 3 + 4px );
}
.ln3 .chunk {
    background: #d98559;
}

.ln4 {
    height: 32.5px;
    width: calc(32.5px * 4 + 6px );
}
.ln4 .chunk {
    background: #d959d4;
} 

.ln5 {
    height: 32.5px;
    width: calc(32.5px * 5 + 8px);
}
.ln5 .chunk {
    background: #af7144;
}

.smallL {
    width: calc(32.5px * 2 + 2px );
    height: calc(32.5px * 2 + 2px );
}
.smallL .chunk {
    background: rgb(52, 105, 178);
}

.bigL {
    width: calc(32.5px * 3 + 4px );
    height: calc(32.5px * 3 + 4px );
}
.bigL .chunk {
    background: #9060dd;
}